/* src/components/Contact.css */
.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
  }
  
  .contact-container h2 {
    font-size: 2em;
    color: #e2f1f5;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label {
    font-size: 1.2em;
    margin-bottom: 8px;
    color: #aab4da;
  }
  
  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #04032c;
    border-radius: 4px;
    font-size: 1em;
  }
  
  .contact-form button {
    background-color: #08627a;
    color: #c2d0f1;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contact-form button:hover {
    background-color: #4795b8;
  }
  
  /* Add additional styles as needed */
  