/* src/components/Projects.css */
.projects-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #e0d1e09a; /* Change this color to your desired background color */
  }
  
  h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #e9ecf1;
  }
  
  /* Add styles for individual projects or project components */
  /* For example, you can use a grid layout for project items */
  .project-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    margin-bottom: 20px;
    color: #f9fafc;
  }
  
  .project-item img {
    max-width: 100%;
    height: auto;
  }
  
  .project-details {
    display: flex;
    flex-direction: column;
  }
  
  .project-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .project-description {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .project-links {
    display: flex;
    gap: 10px;
  }
  
  .project-links a {
    text-decoration: none;
    color: #cfe1e6;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
  }
  
  .project-links a:hover {
    color: #ebf0f3;
  }
  